<h3>Create Appointment</h3>
<form action="/appointments" method="POST">
<label>Time:</label>
  <input type="time" id="appointment_time" name="appointment_time">
  <br/>
  <input type="text" name="grade" placeholder="Grade:">
  <input type="text" name="subject" placeholder="Subject:">
  <br>
<!-- <input type="text" size="150%" name="content" placeholder="Content:"> -->
<textarea name="content" id="content" placeholder="Content:" style="width:50%;height:300px;font:18px sans-serif"></textarea>
  <br>
  <input type="submit" value="Create Appointment">
</form>